################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/variables.json
/.vs
*.zip
/variables-prod.json
